@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 21, 21);
    background: rgb(1, 112, 112);


}

.main {
    font-family: 'Dancing Script', cursive !important;
    font-weight: 100;
    color: rgb(255, 255, 255);
    background: rgb(1, 112, 112);
    height: 25vw;
    padding: 5vw;
    text-align: center;
    text-shadow: 2px 6px 12px #032c2b;
    display: grid;
    align-items: center;
}

.typedJS {
    position: relative;
    display: inline-block;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.main .typedJS {
    font-size: 5vw;
}

/* cursor animation */
@keyframes blink {
    0% {
        height: 0;
    }

    100% {
        height: 88%;
    }
}

/* cursor animation */

/* cursor css */
.typedJS::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4px;
    width: .18vw;
    background: rgb(255, 255, 255);
    content: '';
    height: 90%;
    animation: blink .5s infinite alternate;
    -webkit-animation: blink .5s infinite alternate;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* cursor css */